*{
    margin: 0;
    padding: 0;
}

.naw-elements{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between; 
  align-items: center; 
  padding-top: 10px;
}

.dot{
    color: orange;
}

.logo{
    font-family: 'Brush Script MT', cursive;
    padding:20px;

}

.knopkalar{
    border: none;
    font-size: x-large;
    transition: all 0.2s ease-in-out;
    background-color: transparent

}

.knopkalar:hover{
    color: red;
    background-color: bisque;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.logolar{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 30px;
}
.logolar a{
    color: black;
    font-size: x-large;
    transition: all 0.1s ease-in-out;

}

.logolar a:hover{
    color: blue;
}

.altdan-xett{
    margin-top: 20px;
}

.ikinci{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.ikinci h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 40px;
    cursor: pointer;
}

.ikinci button{
    border: none;
    background-color: #e7fafe;
   margin: 30px;
   padding: 5px;
   border-radius: 20px;
   width: 150px;
   font-weight: bold;
   transition: all 0.1s ease;
}

.ikinci button:hover{
    background-color: #167b8f54;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 15px;
 
    border-radius: 20px;
    width: 150px;
    height: 200px;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.card1{
   background: linear-gradient(to bottom, #ffffff 0%, #f3f4ef 100%);
}
.ucuncu img{
    width: 120px;
    height: 120px;
}

.ucuncu{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding-top: 50px;
}

.card2{
    background: linear-gradient(to bottom, #ffffff 0%, #f2faee 100%);
}

.card3{
     background: linear-gradient(to bottom, #ffffff 0%, #fbedec 100%);
}

.card4{
    background: linear-gradient(to bottom, #ffffff 0%, #fef7e9 100%);
}

.card5{
    background: linear-gradient(to bottom, #ffffff 0%, #f4f4f4 100%);
}

.card6{
    background: linear-gradient(to bottom, #ffffff 0%, #f4f4f4 100%);

}

.dorduncu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-top: 50px;
}


.dorduncu h1{
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dorduncu h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    width: 500px;
    text-align: center;
    font-size: small;
}

.besinci img {
 width: 300px;
 height: auto;
 border-radius: 20px;
}

.cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 330px;
    height: 400px;
    background: linear-gradient(to bottom, #ffffff 0%, #ebfafd 100%);
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.last-elements{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.besinci{
    display: flex;
    flex-direction: column;
    
}

.besinci-1{
    display: flex;
    flex-direction:row ;
    justify-content: space-around;
}

.besinci-2{
    display: flex;
    flex-direction:row ;
    justify-content: center;
    gap: 200px;
    margin-top: 30px;
    
}

.besinci-2-img img{
    width: 350px;
    height: 400px;
    border-radius: 0%;
}

.besinci-2 h2{
    margin-left: 20px;
}

.besinci-3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0px;
}